# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

serie = pd.Series(anomalia_termica, index=ano)
print(serie)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [7]:

# seu código aqui
ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

serie = pd.Series(anomalia_termica, index=ano)
print(serie)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_dic = pd.Series(dic_temperaturas)
print(serie_dic)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [43]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
print(df)

             0           1           2
0   121.976362   91.462881   95.944891
1    88.439750   95.755143   97.291932
2   104.273232  108.673784   99.826072
3    97.544637   98.262168   97.975655
4   102.023662   98.154246  109.056392
5   100.983006   99.321801   83.768586
6   110.935429  102.344362  115.554270
7   103.663860  108.198666  103.727227
8   106.761717   77.941128  112.181753
9   104.737182  117.739343   87.538914
10  117.476934   88.133423   95.390151
11   94.324412   87.143932   93.921771
12  103.127954   91.754365  102.458252
13   87.310618   91.821393  115.684807
14   95.484860  123.514053  120.609351
15   93.542273   92.009184   96.477956
16  123.267558   92.074702  102.416591
17  101.254518  109.913524   96.095966
18  107.010324   97.372615  101.002085
19  104.345094   91.393039  100.122045

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [45]:
#seu código aqui
df.index = range(1, 21)
df.columns = ['x1', 'x2', 'x3']
print(df)

            x1          x2          x3
1   121.976362   91.462881   95.944891
2    88.439750   95.755143   97.291932
3   104.273232  108.673784   99.826072
4    97.544637   98.262168   97.975655
5   102.023662   98.154246  109.056392
6   100.983006   99.321801   83.768586
7   110.935429  102.344362  115.554270
8   103.663860  108.198666  103.727227
9   106.761717   77.941128  112.181753
10  104.737182  117.739343   87.538914
11  117.476934   88.133423   95.390151
12   94.324412   87.143932   93.921771
13  103.127954   91.754365  102.458252
14   87.310618   91.821393  115.684807
15   95.484860  123.514053  120.609351
16   93.542273   92.009184   96.477956
17  123.267558   92.074702  102.416591
18  101.254518  109.913524   96.095966
19  107.010324   97.372615  101.002085
20  104.345094   91.393039  100.122045

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [47]:
# seu código aqui
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)
df

            x1          x2          x3       media
1   121.976362   91.462881   95.944891  103.128044
2    88.439750   95.755143   97.291932   93.828942
3   104.273232  108.673784   99.826072  104.257696
4    97.544637   98.262168   97.975655   97.927487
5   102.023662   98.154246  109.056392  103.078100
6   100.983006   99.321801   83.768586   94.691131
7   110.935429  102.344362  115.554270  109.611354
8   103.663860  108.198666  103.727227  105.196584
9   106.761717   77.941128  112.181753   98.961533
10  104.737182  117.739343   87.538914  103.338479
11  117.476934   88.133423   95.390151  100.333503
12   94.324412   87.143932   93.921771   91.796705
13  103.127954   91.754365  102.458252   99.113524
14   87.310618   91.821393  115.684807   98.272273
15   95.484860  123.514053  120.609351  113.202755
16   93.542273   92.009184   96.477956   94.009804
17  123.267558   92.074702  102.416591  105.919617
18  101.254518  109.913524   96.095966  102.421336
19  107.010324   97.372615  101.002085  101.795008
20  104.345094   91.393039  100.122045   98.620059

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [51]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   121.976362   91.462881   95.944891  103.128044  4.635971
2    88.439750   95.755143   97.291932   93.828942  4.541473
3   104.273232  108.673784   99.826072  104.257696  4.646866
4    97.544637   98.262168   97.975655   97.927487  4.584227
5   102.023662   98.154246  109.056392  103.078100  4.635487
6   100.983006   99.321801   83.768586   94.691131  4.550620
7   110.935429  102.344362  115.554270  109.611354  4.696941
8   103.663860  108.198666  103.727227  105.196584  4.655831
9   106.761717   77.941128  112.181753   98.961533  4.594731
10  104.737182  117.739343   87.538914  103.338479  4.638010
11  117.476934   88.133423   95.390151  100.333503  4.608500
12   94.324412   87.143932   93.921771   91.796705  4.519576
13  103.127954   91.754365  102.458252   99.113524  4.596266
14   87.310618   91.821393  115.684807   98.272273  4.587742
15   95.484860  123.514053  120.609351  113.202755  4.729180
16   93.542273   92.009184   96.477956   94.009804  4.543399
17  123.267558   92.074702  102.416591  105.919617  4.662680
18  101.254518  109.913524   96.095966  102.421336  4.629095
19  107.010324   97.372615  101.002085  101.795008  4.622961
20  104.345094   91.393039  100.122045   98.620059  4.591275